<a href="https://colab.research.google.com/github/PujaBapari/Python-/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Python ?**

Python is a high-level, interpreted programming language known for its simplicity and readability

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Puja Bapari")

Puja Bapari

In [ ]:
print(+8801317933187)

8801317933187

**Comment**

In Python, comments are used to explain.

**Types**

 Single-line Comment (#)

 Multi-line Comment (Using """ """ or ''' ''')

In [ ]:
# Python tutorial "Hablu Programmer"
print("Hablu Programmer")

''' Modules
1. Built-in
2. User-defined
 (Third-party, installed using pip)
'''

print("""A module is a Python file that you import to use functions and classes.
pip is a tool that installs external Python libraries/modules.""")

Hablu Programmer
A module is a Python file that you import to use functions and classes.
pip is a tool that installs external Python libraries/modules.

**Variable And Data Type**

In [ ]:
name="Puja Bapari" #str
print(name)
fvrt_number=+8801317933187 #int
print(fvrt_number)

Puja Bapari
8801317933187

In [ ]:
#float type data
X=222.3
print(type(X))
print(X)

#complex type
Y=3j
print(type(Y))
print(Y)

<class 'float'>
222.3
<class 'complex'>
3j

In [ ]:
first_name="Puja"
last_name="Bapari"
print("My name is:"+ first_name)
print("My name is:",first_name,last_name)

My name is:Puja
My name is: Puja Bapari

In [ ]:
#Bool data type
bool_1=True
print(bool_1)
print(type(bool_1))
bool_2=False
print(bool_2)
print(type(bool_2))
x=3
y=9
print(x==y)

True
<class 'bool'>
False
<class 'bool'>
False

In [ ]:
#format specifier
num1=20
num2=50
print("This is my super numer:",num1+num2)
print(f"This is my super numer {num2-num1}")
Username="Puja"
Id="222-35-1174"
print(f"Hey This is {Username} and My student id is:{Id}")

This is my super numer: 70
This is my super numer 30
Hey This is Puja and My student id is:222-35-1174

In [ ]:
# Define a list with values in the range 0-255
id_list = [1, 3, 4, 6, 8, 10, 12, 13, 66, 78, 200]

# Print the list
print( id_list)
print( type(id_list))

[1, 3, 4, 6, 8, 10, 12, 13, 66, 78, 200]
<class 'list'>

In [ ]:
id_list1 = [ 12, 13, 66, 78, 200]
b1=bytearray(id_list1)
print( type(b1))
b1[2]=100
print(b1[2])

<class 'bytearray'>
100

In [ ]:
x=None
print(type(x))

<class 'NoneType'>

**Sequence Type**

list    
#square brackets[]

tuple   
#parentheses()

range

Set    
#curly brackets{}

In [55]:
#List type Data mutable =change valu
list=["Apple","Banana","Cherry"]
list[1]="Mango"
print(list)
print(type(list))
#Access List
number=[1,3,5,7,9,11,13]
print(number[2:6])
#change Item Value
number[4]=10
print(number)
#Add List Item
number.append(15)
print(number)
number.insert(1,"A")
print(number)
#Remove List item
number.remove(5)
print(number)
number.pop(2)
print(number)
number.pop()
print(number)
del number[0]
print(number)
number.clear()
print(number)

['Apple', 'Mango', 'Cherry']
<class 'list'>
[5, 7, 9, 11]
[1, 3, 5, 7, 10, 11, 13]
[1, 3, 5, 7, 10, 11, 13, 15]
[1, 'A', 3, 5, 7, 10, 11, 13, 15]
[1, 'A', 3, 7, 10, 11, 13, 15]
[1, 'A', 7, 10, 11, 13, 15]
[1, 'A', 7, 10, 11, 13]
['A', 7, 10, 11, 13]
[]

# List Items by using a for loop

In [57]:
Loop_list=["Mita","Rita","Gita","Sita","Nita"]
for Raj in Loop_list:
  print(Raj)

Mita
Rita
Gita
Sita
Nita

In [ ]:
#tuple type Data immutable =no change
tuple=("5,10,15,20")
print(tuple)
print(type(tuple))

5,10,15,20
<class 'str'>

In [ ]:
#range
x=range(8)
for i in x: #i++
  print(i)
print(type(x))

0
1
2
3
4
5
6
7
<class 'range'>

# **Range Items by using a for loop**

In [62]:
r=[10,20,30,40,50]
for i in range (len(r)):
  print(r)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

**operators**

In [ ]:
'''Arrithmetic operators
addition'''
a=10
b=30
print(a+b)
#substraction
print(b-a)
#multiplicaton
print(a*b)
#Division
print(b/a)
#modulus
print(a%b)
#exponentiation
x=2
y=3
print(x**y)
#floor division
print(y//x)

40
20
300
3.0
10
8
1

In [ ]:
#Assignment Operator

In [ ]:
d=10
sum=d+20
print(sum)
a=5
a+=3
print(a)
a-=2
print(a)

30
8
6

In [ ]:
#comparison Operators
p=5
q=3
print(p==q)
print(p!=q)
print(p>q)
print(p<q)
print(p>=q)
print(p<=q)

False
True
True
False
True
False

In [ ]:
#Logical Operators
x=6
print(x>5 and x<10)
print(x>5 or x<4)
print(not(x>5 and x<10))

True
True
False

In [ ]:
#Swaping
c=10
d=20
c,d=d,c
print(c,d)

20 10

# **User Input**

In [36]:
Username=input("Enter Your Name:")
print("My name is:",Username)
password=input("Enter your password:")
print("Your password is:",password)

Enter Your Name:Puja Bapari
My name is: Puja Bapari
Enter your password:90000
Your password is: 90000

# **Type Casting**(convert)

In [41]:
num1="1357"
print(int(num1))
num2=50
print(float(num2))
Name=1245
print(str(Name))

1357
50.0
1245