<a href="https://colab.research.google.com/github/PujaBapari/Python-/blob/main/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Python ?**

Python is a high-level, interpreted programming language known for its simplicity and readability

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Puja Bapari")

Puja Bapari

In [ ]:
print(+8801317933187)

8801317933187

**Comment**

In Python, comments are used to explain.

**Types**

 Single-line Comment (#)

 Multi-line Comment (Using """ """ or ''' ''')

In [ ]:
# Python tutorial "Hablu Programmer"
print("Hablu Programmer")

''' Modules
1. Built-in
2. User-defined
 (Third-party, installed using pip)
'''

print("""A module is a Python file that you import to use functions and classes.
pip is a tool that installs external Python libraries/modules.""")

Hablu Programmer
A module is a Python file that you import to use functions and classes.
pip is a tool that installs external Python libraries/modules.

**Variable And Data Type**

In [ ]:
name="Puja Bapari" #str
print(name)
fvrt_number=+8801317933187 #int
print(fvrt_number)

Puja Bapari
8801317933187

In [ ]:
#float type data
X=222.3
print(type(X))
print(X)

#complex type
Y=3j
print(type(Y))
print(Y)

<class 'float'>
222.3
<class 'complex'>
3j

In [ ]:
first_name="Puja"
last_name="Bapari"
print("My name is:"+ first_name)
print("My name is:",first_name,last_name)

My name is:Puja
My name is: Puja Bapari

In [ ]:
#Bool data type
bool_1=True
print(bool_1)
print(type(bool_1))
bool_2=False
print(bool_2)
print(type(bool_2))
x=3
y=9
print(x==y)

True
<class 'bool'>
False
<class 'bool'>
False

In [ ]:
#format specifier
num1=20
num2=50
print("This is my super numer:",num1+num2)
print(f"This is my super numer {num2-num1}")
Username="Puja"
Id="222-35-1174"
print(f"Hey This is {Username} and My student id is:{Id}")

This is my super numer: 70
This is my super numer 30
Hey This is Puja and My student id is:222-35-1174

In [ ]:
# Define a list with values in the range 0-255
id_list = [1, 3, 4, 6, 8, 10, 12, 13, 66, 78, 200]

# Print the list
print( id_list)
print( type(id_list))

[1, 3, 4, 6, 8, 10, 12, 13, 66, 78, 200]
<class 'list'>

In [ ]:
id_list1 = [ 12, 13, 66, 78, 200]
b1=bytearray(id_list1)
print( type(b1))
b1[2]=100
print(b1[2])

<class 'bytearray'>
100

In [ ]:
x=None
print(type(x))

<class 'NoneType'>

**Sequence Type**

list    
#square brackets[]

tuple   
#parentheses()

range

Set    
#curly brackets{}

In [ ]:
#List type Data mutable =change valu
list=["Apple","Banana","Cherry"]
list[1]="Mango"
print(list)
print(type(list))

['Apple', 'Mango', 'Cherry']
<class 'list'>

In [ ]:
#tuple type Data immutable =no change
tuple=("Apple","Banana","Cherry")
print(tuple)
print(type(tuple))

('Apple', 'Banana', 'Cherry')
<class 'tuple'>